			body {
				padding: 0;
				margin: 0;
			}
			html, body, #map {
				height: 100%;
			}
			#map {
				width: 50%;
				float: right;
				position: relative;
			}
			.info, .crimeSelecter {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}
			.graphs{
				width: 50%;
				float: left;
				position: relative;
			}
			#barchart {
				position: relative;
				width: 100%;
				top: 0;
			}
			#linechart {
				position: relative;
				width: 100%;
				bottom: 0;
			}	
			.scndhd {
				color: blue;
			}
			#shName{
				font-weight: bold;
				text-align: center;
			}
			.crimename {
				font-weight: bold;
				float: left;
			}
			.crimedets {
				float: right;
			}
